<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Garage-Sale</title>
    <link rel="stylesheet" href="./style/style.css" />
  </head>
  <nav class="navbar">
    <h1 class="page-title">Garage Sale</h1>
    <h3 class="title-description">Your one stop to buy and sell locally!</h3>
    <ul class="nav-links">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Sell</a>
      </li>
      <li>
        <a href="#">Login</a>
      </li>
      <li>
        <a href="#">Logout</a>
      </li>
    </ul>
    <div class="burger">
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="line-3"></div>
    </div>
  </nav>
  <body>
    <div class="search-container">
      <label for="searchInput" class="search">Search</label>
      <input type="text" class="search" name="TextBox" />
      <button class="general-search">Enter</button>
    </div>
    <div class="login-container">
      <!-- <button class="login">Go Login</button> -->
      <label for="signup-new" class="new-member">Not a member? Sign up here!</label>
      <button class="signup">Sign Up!</button>
    </div>
    <div class="featured-container">
      <div class="featured-items">
       <img src=""
      </div>
      <div class="featured-items">Featured Item 2</div>
      <div class="featured-items">Featured Item 3</div>
    </div>
    <script src="js/navbar.js"></script>
  </body>
</html>
