* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --navbar: rgb(164, 80, 80);
  --lightText: rgb(229, 230, 227);
  --background-color: rgb(228, 184, 107);
}
html {
  background: var(--background-color);
}
h2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* NavBar CSS */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: var(--navbar);
  color: var(--lightText);
}

.navbar a {
  color: black;
}

.nav-links {
  display: flex;
  /* background-color: black; */
  justify-content: space-around;
  width: 40%;
  list-style: none;
}
.nav-links a {
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 3px;
  /* font-weight: bold; */
  font-size: 20px;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: whitesmoke;
  transition: all 0.3 ease;
}



/* stripe styling */
.stripeCardField {
  width: 50%
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: var(--navbar);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
    z-index: 6;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-70deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Search Area CSS  */
.center,
.photo-upload  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

input.form-control {
  width: 300px !important;
}

.seller-info {
  padding: 20px;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* featured container  */
.featured-container {
  height: 500px;
  width: 90%;
  padding: 2%;
  background: rgb(97, 66, 66);
  margin: 100px auto;
  display: flex;
  justify-content: center;
}
.featured-items {
  padding-top: 10px;
  font-size: 50%;
  display: flex;
  border: 2px solid black;
  width: 250px;
  /* height: 100%; */
  background: rgb(116, 101, 72);
  margin: 5px 5px;
  transition: 1s;
}
.featured-items:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 3px rgb(rgb(72, 72, 72));
}
/* featured cards */

.item-img {
  width: 100px;
}
.brief-img {
  width: 200px;
  height: 180px;
  object-fit: cover;
}

.signup-container,
.login-container,
.searchContainer,
.mainContainer {
  background: var(--background-color);
  width: 100%;
}
.errorPage {
  padding: 50px;
  margin-left: 333px;
  display: block;

  align-items: center;
}
.errorImg {
  width: 100%;
  height: 100vh;
}

.page-title {
  max-width: 100%;
  max-height: 20%;
}
.payment-intent{
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.stripe-cc {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  /* align-items: center; */
}
#stripe-confirm-button{
 margin: 40px;
}

